.item {
    width: 200px;
    flex-direction: row;
    align-items: center;
}
.status {
    width: 20px;
    height: 20px;
    border-radius: 50%;

}
.status.online {
    background-color: green;
}
.status.offline {
    background-color: red;
}
